/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {

    /****** RELATED LINK *******/
    .related-links,
    .related-links.home {
        /*max-height: 400px;*/
        overflow: visible;
        margin-bottom: 150px!important;
    }
    .related-links.location,
    .related-links.banner{
        overflow: visible;
        margin-bottom: 25px!important;
    }
    .related-links .thumb-img {
        max-height: 400px;
        overflow: hidden;
    }
    .related-links .details {
        padding: 10px;
        background: #ffffff;
        display: inline-block;
        position: absolute !important;
        margin-bottom: -10%!important;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 10px!important;
        bottom: -25px;
    }
    .career-path-container {
        margin-bottom: 5px;
    }
    .content-details p {
        color: #fff;
        font-size: 20px;
    }
    /******* RELATED LINK  *******/
    #accordion .panel-heading h4 a {
        margin-right: 15px;
        display: block;
        line-height: 22px;
    }
    #accordion .panel-heading h4 a i {
        position: absolute;
        right: 0px;
    }
    .location-places-container .content {
        max-width: 100%;
    }
    .related-links.location .location-detail {

        margin-left: 5%;

        margin-right: 5%;
    }
    .banners-img {
/*
        height: 190px;
*/        background-position: center;
    }
    .related-links.banner .banner-detail {

        margin-left: 5%;

        margin-right: 5%;
    }
    .less-tab-top{
        margin-top: 50px;
    }
    .link-box>div .link a{
        font-size: 14px;
    }
    .link-box>div .heading {
        font-size: 22px!important;
    }
    .found-inv-details{
        padding: 0px 0px 0px 0px!important;
    }
    .no-padd {
        padding-left: 15px!important;
    }
    .date-txt {
        position: absolute;
        margin-top: 0px!important;
        font-size: 16px;
        font-weight: 400;
    }
    .link-head {
        padding-top: 27px!important;
    }
    .news-heading {
        color: #7c7c7c;
        font-weight: 300;
        font-size: 18px;
    }
}