@media only screen and (max-width: 320px) {
    .navbar-toggle {
        margin-right: 0px;
        padding: 13px 10px;
    }
    .rmd-pd {
        padding-left: 0px;
        padding-right: 0px;
    }
    .white-box {
        position: absolute; 
        margin-left: 10%;
        background-color: #fff;
        height: 162px;
        width: 80%;
        margin-top: -62px;
        padding: 15px;
    }
    .rectangle-img2 {
        margin-top: 36px;
        margin-bottom: 110px;
    }
    .rectangle-img {
        padding-left: 0px;
        padding-right: 0px;
    }
    .rectangle {
        margin-top: 113px;
    }
    .box-head {
        font-size: 15px;
    }
    .box-body {
        font-size: 12px;
    }
    .media:first-child {
        margin-bottom: 20px;
    }
    .readbtn-event {
        text-align: center;
    }
    .trangle-right {
        display: none;
    }
    .experien-img {
        margin-left: 0px;
        background-size: cover;
    }
    .read-button {
        font-size: 11px;
    }
    .exp-head {
        padding: 15px;
    }
    .exp-body {
        padding: 15px;
        color: #fff;
        margin-bottom: 48px;
    }
    .exp {
        background-color: transparent;
    }
    .trangel-left {
        display: none;
    }
    .sign-up-img {
        margin-right: 0px;
        background-size: cover;
    }
    .trangleright-bg {
        position: absolute;
        margin-top: -400px;
        background-color: rgba(46, 146, 192, 0.7);
        height: 400px;
    }
    .sign-up {
        background-color: transparent;
    }
    .signup-head {
        padding: 15px;
    }
    .full-section {
        /*width: 100%;
        padding-left: 0px;
        padding-right: 0px;*/
    }
    .signup-body {
        color: #fff;
        margin-bottom: 17px;
        padding: 15px;
    }
    .action {
        padding: 15px;
    }
    .trangleleft-bg {
        background-color: #64bbe9;
        position: absolute;
        margin-top: 1px;
        z-index: 999;
        background-color: rgba(100, 187, 233, 0.7);
        height: 398px;
    }
    .event-date {
        font-size: 35px;
        text-align: center;
        color: #fff;
    }
    .event-box {
        background-color: #1e599f;
        width: 75px;
    }
    .drkblue-bg {
        width: 100%;
        height: auto;
        padding-top: 0px;
    }
    .lightkblue-bg {
        width: 100%;
        height: auto;
        padding-top: 5px;
    }
    .footer-icon {
        margin-top: 10%;
        margin-bottom: 5px;
        text-align: center;
    }

    .terms-txt {
        color: #fff;
        font-size: 12px;
    }
    .list-inline>li {
        display: block;
        padding-left: 0px;
        padding-right: 5px;
    }
    .related-links .thumb-img {
        padding-right: 0px;
    }
    /*.related-links .details {
    padding: 10px;
    background: #ffffff;
    display: inline-block;
    margin-top: -30%;
    margin-left: 5%;
    line-height: normal;
    margin-right: 5%;
}*/
    .related-links {
        position: relative;
        margin-top: 15px;
    }
    .page-heading h1 span:before {
        right: 99%;
    }
    .para-txt {
        margin-top: 12px;
    }
    .top {
        margin-top: 12px;
    }
    .gallery_item .gallery_inner .hover_gallery .gallery_content .gallery_content_inner {
        position: absolute;
        bottom: 0px;
        width: 100%;
        left: 0px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 1.5;
        font-size: 11px;
    }
    .email-btn {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .study {
        margin-top: 0px;
    }
    .founder-img {
        margin-top: 15px;
        margin-right: 20px;
    }
    .bg-box p {

        font-size: 21px;
        font-weight: 300;
        width: auto;
        height: auto;
    }
    .overview {
        /*margin-top: -52px;*/
    }
    .text-wrap {
        float: left;
        margin: 0 5px 5px;
    }
    .related-links.location .location-detail {

        margin-left: 5%;

        margin-right: 5%;
    }
    .banners-img {

        height: 190px;
        background-position: center;
    }
    .related-links.banner .banner-detail {

        margin-left: 5%;

        margin-right: 5%;
    }
    .related-links.banner .banner-detail h4 {

        font-size: 20px;
    }
    .related-links.location .location-detail h4 {

        font-size: 20px;
    }
    .accom-left .accom-detail-left h4 {

        font-size: 20px;
    }
    .accom-left .accom-detail-left {

        margin-left: 5%;
        z-index: 999;
        margin-right: 5%;
    }
    .accom-right .accom-detail-right {

        margin-left: 5%;
        z-index: 999;
        margin-right: 5%;
    }
    .accom-right .accom-detail-right h4 {

        font-size: 20px;
    }
    .accom-img1 {
        background-position: center;
    }
    .accom-img2 {
        background-position: center;
    }
    .accom-img3 {
        background-position: center;
    }
    .accom-img4 {
        background-position: center;
    }
    .accom-left {
        margin-top: 30px;
    }
    .accom-right {
        margin-top: 30px;
    }
    .vatika-india-next {
        background-position: center;
    }
    .art-n-culture {
        background-position: center;
    }
    .shopping-n-retail {
        background-position: center;
    }
    .food-n-dining {
        background-position: center;
    }
    .img-detail {
        font-size: 14px;
    }
    .number {
        font-size: 14px;
    }
    .table-head {
        font-size: 14px;
    }
    .fees-table {
        background-image: none;
    }
    /* .stripe {
        background-color: #ebebeb;
    } */
    .text-wrap-right {
        margin-left: 0px;
    }
    .small-ic1 {
        margin-top: 0px;
        text-align: -webkit-center;
    }
    .small-ic {
        text-align: -webkit-center;

        height: auto;
        margin-top: 0px;
        margin-left: 0px;
    }
    .icon-heading {
        text-align: center;
    }
    .addre-body i {
        /*display: none;*/
    }
    .content-top {
        margin-top: 25px;
    }
    .accom-left .accom-detail-left {
        padding: 15px 15px 15px 25px;
    }
    .tab-top{
        margin-top:-5px;

    }
    .panel-group .panel {
        margin-bottom: 30px;
    }
    .adv-board-details {
        padding: 10px 0px 10px 0px;
    }
    .adv-board-details:hover{
        background: #fff;
        color:#757575;
    }
    .page-heading h1 span {
        font-size: 26px !important;
        padding: 10px 20px 10px 15px;
    }
    .sec-1,
    .sec-2,
    .sec-3,
    .sec-full-1 {
        margin-top: 20px !important;
        margin-bottom: 30px !important;
    }
    .course-overview {
        margin-top: 25px;
    }
    .tab-content>.tab-pane {
        padding: 10px;
    }
    .tab-pane ul.ish-bullets {
        padding-left: 10px;
    }
    .link-box>div .link a{
        font-size: 12px;
    }
    .link-box>div .heading {
        font-size: 22px!important;
    }
    .blue-block {
        position: absolute;
        top: 50%;
        left: 50%!important;
        margin-left: -100px;
        color: #fff!important;
        display: inline-block;
        width: 200px;
    }
    /* .no-padd {
        padding-left: 15px!important;
    }
    .date-txt {
        position: absolute;
        margin-top: 0px!important;
        font-size: 15px;
        font-weight: 400;
    }
    .link-head {
        padding-top: 27px!important;
    } */
}