@media only screen and (max-width: 767px) {
    /** 100% HEIGHT OF NAVBAR  */
    .navbar-collapse {
        /* max-height:100% !important;
    height: 100vh;*/
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
        transition: all0s;
    }
    .full-sec-body h2 {
        font-size: 24px;
    }
    .full-sec-body p {
        font-size: 14px;
    }
    .heder-bg {
        background-color: transparent;
    }
    .mob-heder-bg {
        background: transparent !important;
    }
    /* .ish-collapse {
         background: rgba(30, 89, 159, .8);
    } */
    .navbar-toggle {
        margin-right: 0;
        padding: 13px 10px;
    }
    .logo-bg>a>img {
        height: 58px !important;
    }
    .sp-buttons {
        display: none;
    }
    /* NAVIGATION */
    #header_nav {
        background: #ffffff;
    }
    .sec-1,
    .sec-2,
    .sec-3,
    .sec-full-1 {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    #main-nav {
        background: #ffffff;
        /*background: rgba(23, 64, 130, 0.9);*/
        /*position: absolute;
     width: 100%; */
        left: 0px;
        top: 0px;
        right: 0px;
        margin-top: 0px !important;
        min-height: 250px;
        max-height: 400px;
        overflow-y: scroll;
        padding-left: 35px;
    }
    .navbar-nav>li>a {
        color: rgba(166, 166, 166, 1);
        font-weight: 300 !important;
        display: block;
        font-size: 15px !important;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
        padding-left: 0px;
        text-transform: none;
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 0px;
    }
    .navbar-nav>li:nth-last-child(1) {
        border-bottom: 0px solid #fff;
        margin-bottom: 20px;
    }
    .ish-dropdown:hover .ish-dropdown-menu {
        display: block;
        opacity: 1;
        z-index: 99;
        transform: translateY(0);
        transition-delay: 0s, 0s, .3s;
    }
    .ish-dropdown-menu {
        background: 0 0;
        display: none;
        position: relative;
        z-index: 1;
        opacity: 1!important;
        visibility: visible!important;
        max-width: 100%;
        min-width: 100%;
        transform: translateY(0);
        transition: all .3s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear 10ms;
    }
    .ish-dropdown-menu .ish-sub-menu li {
        padding: 0;
        list-style: none;
        border-bottom: 0 solid #ccc;
        text-align: center;
    }

    .ish-sub-menu {
        padding: 0px;
    }

    .ish-dropdown-menu .ish-sub-menu li {
        list-style: none;
        border-bottom: 0px solid #fff;
        text-align: left;
    }
    .ish-dropdown-menu ul.ish-sub-menu li:nth-last-child(1) {
        border-bottom: 0px solid #ccc;
    }
    .ish-dropdown-menu .ish-sub-menu li a {
        color: rgba(166, 166, 166, 1);
        display: block;
        font-weight: 100!important;
    }


    /** RELATED LINKS  **/
    .related-links,
    .related-links.home {
        /*max-height: 400px;*/
        overflow: visible;
        margin-bottom: 150px!important;
    }

    .related-links .details {
        padding: 10px;
        background: #ffffff;
        display: inline-block;
        position: absolute !important;
        margin-bottom: -10%!important;
        line-height: normal;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 10px!important;
        bottom: -75px;
    }

    /*.related-links .details.right {
            padding: 10px;
            display: inline-block;
            position: absolute;
            margin-top: -100% !important;
            margin-right: 0% !important;
            line-height: normal;
            margin-left: 5% !important;
            padding-bottom: 10px !important;
            bottom: 0px;
        }*/
    .related-links .details a.readmore-btn {
        position: relative;
        bottom: 0px;
        left: 0px;
    }
    #scroll {
        display: none;
    }
    .news-container {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .news-thumb-detail {
        padding: 20px 25px 10px 18px;
    }
    /*** FULL SECTION ***/
    .full-sec .full-sec-img,
    #second {
        width: 100%;
        display: table;
        background-image: url(../images/experience.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
    }
    .full-sec-img .trangel {
        display: none;
    }
    .full-sec-body,
    #forth .full-sec-body {
        width: 100% !important;
        display: table-cell;
        vertical-align: middle;
        padding: 50px 25px;
        background: rgba(30, 89, 159, 0.8);
        color: #ffffff;
    }
    .full-sec-body .readmore-btn {
        color: #ffffff;
        margin: 0px;
    }
    .full-sec-body a.readmore-btn:after {
        background: #ffffff;
    }
    .full-sec .full-sec-img.sign-up {
        width: 100%;
        display: table;
    }
    #fourth {
        width: 100%;
        display: table;
        background-image: url(../images/sign-up.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }
    .full-sec-body2 {
        background: rgba(100, 187, 233, 0.8);
        width: 100%;
    }
    #fourth .full-sec-body {
        background: rgba(100, 187, 233, 0.8);
        padding: 5% 5%;
    }

    /*** FULL SECTION END ***/
    /* FOOTER */
    .drkblue-bg {
        padding-top: 40px !important;
        background: #f8f8f8;
    }
    .addre-body,
    .mail {
        color: #555;
    }
    a.mail:focus {
        color: #555!important;
       
    }

    .lightkblue-bg {
        background: #eeeeee;
        padding-top: 15px !important;
    }

    .copyright-txt {
        color: #888888!important;
        font-size: 14px;
        text-align: left;
        padding: 5px 10px 5px;
    }
    .copyright-txt small {
        display: block;
        padding: 8px 0px;
    }
    .terms-txt {
        font-size: 14px;
        text-align: left;
        padding: 5px 10px 5px;
    }
    .terms-txt a {
        color: #888888!important;
    }
    .footer-line {
        font-size: 13px;
        text-align: center;
        color: #888!important;
        padding: 25px;
    }
    .link-boxs,
    .boxes {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .link-box {
        margin-bottom: 15px;
    }
    .study {
        margin-bottom: 0px;
    }
    .footer-icon {
        position: relative;
        text-align: center;
        margin-top: 15px;
    }
    .footer {
        margin-top: 50px;
    }
    .footer ul li a {
        display: block;
    }
    .footer ul li:nth-child(1) a i {
        display: block;
        font-size: 12px;
        position: absolute;
        right: 20px;
        top: 0px;
    }
    .footer ul li:nth-child(1) a {
        /*border-bottom: 1px solid #ccc;*/
        font-size: 14px !important;
        color: #969694 !important;
        font-weight: 300 !important;
    }
    .top-pd {
        padding-top: 10px;
    }
    .footer-list {
        /*margin-bottom: 15px;*/
        margin: 0px;
    }
    .isize {
        width: 45px;
    }
    .scrollup {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        position: fixed;
        bottom: 25px;
        right: 10px;
        display: none;
        text-align: center;
        color: #1e599f;
        z-index: 999;
    }
    .sitemap-heading {
        display: block;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #555!important;
        font-weight: 400;
    }
    /* FOR MOB */
    .for-mob .page-section-heading {
        margin: 15px 0 30px;
    }
    .for-mob {
        display: block;
        margin: 15px 0px 0px 0px;
        font-weight: 400 !important;
    }
    .link-box>div .heading {
        font-size: 22px!important;
    }
    .banner-tag-line {
        top: 45%;
        left: 0%;
        width: 100%;
        margin-left: 0px;
        font-size: 18px;
        padding: 15px 10px;
    }
    .nav-accordian a i {
        display: block;
        padding: 15px 0px;
    }
    .nav-accordian a {
        padding: 15px 0px;
        font-size: 14px !important;
        border-bottom: 1px solid #ccc;
    }
    .nav-accordian a:hover {
        text-decoration: none;
    }
    .extra-padding,
    .extra-padding2,
    .extra-padding3 {
        padding-left: 0%;
        padding-right: 0%;
    }

    .small-ic1 {
        margin-top: 0px;
        text-align: -webkit-center;
    }
    .small-ic {
        text-align: -webkit-center;

        height: auto;
        margin-top: 0px;
        margin-left: 0px;
    }
    .icon-heading {
        text-align: center;
    }
    .related-links.banner {
        position: relative;
        height: auto!important;
        margin-top: 30px;
    }
    .tab-top {
        margin-top: -5px;
    }
    .block2>div {
        margin-left: 10px;
    }
    .btn-larger {
        padding: 15px;
    }
    fieldset {
        margin-top: 20px;
    }
    .application-form-page {
        margin-bottom: 0px;
    }
    .blue-btn {
        margin-top: 50px;
        text-align: center!important;
        margin-bottom: 50px;
    }
    .apply-top {
        margin-top: 20px;
    }
    .stripe-tbl-container {

        margin-top: 10px;
        margin-bottom: 10px;
    }
    #ish-tabs select:focus {
        border-color: #ccc;
    }
    .panel-group {
        margin: 10px 0px 30px;
    }
    .career-path-container .content,
    .location-places-container .content {
        margin-bottom: 15px;
    }

    .addr-line {
        margin-left: 30px;
        position: relative;
        display: block;
    }
    .addr-line i {
        position: absolute;
        left: -25px;
        top: 7px;
    }
    .founder-img {
        width: auto;
        margin-right: 0px !important;
        margin-bottom: 20px;
    }
    #founders-mesage .text-justify {
        line-height: 24px;
    }
    #founders-mesage .text-wrap {
        margin: 0px;
        float: none;
    }


    .dean-container {
        position: relative;
    }

    .dean-content {
        position: relative!important;
        bottom: auto!important;
        width: 100%!important;
        text-align: right!important;
        top: 10px!important;
    }

    .dean-name {
        background: #2366AB;
        color: #ffffff;
        display: block;
        padding: 10px;
    }

    .dean-detail {
        padding: 10px;
    }

    /*   .dean-detail p {
        font-size: 14px;
    }

    .dean-name span {
        display: block;
        text-align: right;
        font-weight: 400;
    }

    .dean-name small {
        text-align: right;
        font-size: 16px;
        display: block;
    }*/
    #ish-tabs .tab-pane {
        max-height: 450px;
        overflow-y: scroll;
    }
    #tab_selector {
        background: #ebebeb;
        height: 55px;
    }
    #entry-criteria ul {
        padding-left: 10px;
    }
    .facilities {
        margin-bottom: 10px;
        margin-top: 50px;
    }
    .drkblue-bg {
        margin-top: -55px;
    }

    #bs-nav {
        margin: 5% !important;
        float: none!important;
        /*        height:100% !important;
        background: #ccc;
*/
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }


    #bs-nav.nav .open>a,
    #bs-nav.nav .open>a:focus,
    #bs-nav.nav .open>a:hover {
        color: #7c7c7c!important;
    }
    #bs-nav .dropdown-menu {
        max-width: 100%;
        min-width: 100%;
        background: #fff;
        color: #7c7c7c!important;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

    }
    #bs-nav .dropdown-menu>li {
        width: 100%;
    }

    #bs-nav .dropdown-menu>li>a {
        color: #7c7c7c!important;
    }
    #bs-nav.navbar-nav>li>a {
        margin-left: 30px !important;
        margin-right: 30px !important;
        border-bottom: 1px solid #7c7c7c;
    }
    #bs-nav .dropdown-menu>li>a {
        margin-left: 35px !important;
        margin-right: 35px !important;
        border-bottom: 1px solid #cccccc;
    }
    .navbar-collapse {
        /*height: 100% !important;*/
        background-color: #292929;
        /*to change the background if you desire*/
    }
    /******** SMMOTH DROPDOWN FOR MOBILE NAVIGATION **********/
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        
        
    }
    .navbar-nav .dropdown-menu>li>a {
        padding: 5px 15px 5px 25px;
        color: #7c7c7c;
    }
    /* actual dropdown animation */
       .block2>div p small {
        font-size: 15px;
        padding: 10px 10px 20px 10px;
    }
    .box-txt {
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
    }
    .address-space input{
        margin-bottom:0px;
    }
    textarea{
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px!important;
    }
    .team-places{
        transition: all .3s ease-in-out 0s;
        text-align: center;
        z-index: 11;
        color: #fff;
        font-size: 18px;
        position: absolute;
        z-index: 11;
        width: 100%;
        height: 100%;
        top: 45%;
        font-weight: 300;
        display: block;
    }
    .adv-board-details {
        /* padding: 10px 10px 0px 0px!important; */
        background: #fff;
        left: 0;
        margin-top: -2%;
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
    }
    .og-grid{
        text-align:center;
    }
    #whyhospitality {
        background-image: url(../images/why-hospitality/why-hospitality.jpg);
        background-position: 0 center;
    }
    .panel-group {
        margin: 30px 0 30px 0!important;
    }
    .found-inv-details{
        padding: 0px 0px 0px 0px;
    }
    
    
    
    


}